POSTGRES_DB=String
POSTGRES_USER=String
POSTGRES_PASSWORD=String
POSTGRES_PORT=String

DATASOURCE_URL=String
USERNAME=String
PASSWORD=String
DDL_AUTO=String

GEMINI_API_KEY=String
GEMINI_IMAGE_MODEL=String

MINIO_ROOT_USER=String
MINIO_ROOT_PASSWORD=String
MINIO_API_PORT=Number
MINIO_CONSOLE_PORT=Number

AWS_ACCESS_KEY_ID=String
AWS_SECRET_ACCESS_KEY=String
AWS_REGION=String
S3_BUCKET=String
S3_ENDPOINT=String
S3_PUBLIC_BASE_URL=String
S3_PATH_STYLE_ACCESS_ENABLED=String
