POSTGRES_DB=aikon
POSTGRES_USER=root
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5432

DATASOURCE_URL=jdbc:postgresql://localhost:5432/aikon
USERNAME=root
PASSWORD=1234
DDL_AUTO=update

GEMINI_API_KEY=
GEMINI_IMAGE_MODEL=gemini-2.5-flash-image

MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=root1234
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

AWS_ACCESS_KEY_ID=root
AWS_SECRET_ACCESS_KEY=root1234
AWS_REGION=ap-northeast-2
S3_BUCKET=aikon
S3_ENDPOINT=http://localhost:9000
S3_PUBLIC_BASE_URL=http://localhost:9000/aikon
S3_PATH_STYLE_ACCESS_ENABLED=true
